* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #0b123a;
}

html {
  font-family: "Rubik", sans-serif;
  color: #0b123a;
  font-weight: 400;
}

.primary-button {
  display: block;
  background-color: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
  background-color: #f53855;
  color: #f7f7f7;
  border-radius: 10px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

#first-section {
  padding: 0 40px;
  background-color: #ffffff;
  position: relative;
  z-index: 0;
}

#first-section .header {
  width: 100%;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#first-section .header .header__heading {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#first-section .header .header__heading .header__heading-logo {
  width: 35px;
}

#first-section .header .header__heading .header__heading-text {
  font-size: 20px;
  font-weight: 500;
  margin: 0 8px;
}

#first-section .header .header__heading .header__heading-text .header__heading-text--bold {
  font-weight: 700;
}

#first-section .header .header__nav {
  font-size: 16px;
  margin: 0 auto;
}

#first-section .header .header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-section .header .header__nav .header__nav-list .header__nav-item {
  margin: 20px;
}

#first-section .header .header__nav .header__nav-list .header__nav-item a {
  color: #4f5665;
  text-decoration: unset;
}

#first-section .header .header__nav .header__nav-list .header__nav-item a:hover {
  color: #0b123a;
}

#first-section .header .header__button {
  display: block;
  background-color: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

#first-section .header .header__button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #f53855;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

#first-section .header .header__button:hover {
  color: #f53855;
}

#first-section .header .header__button:hover:after {
  opacity: 1;
}

#first-section .header .header__button-signin {
  margin-left: auto;
  padding: 0 45px;
}

#first-section .header .header__button-signup {
  padding: 0 45px;
}

#first-section .content {
  width: 100%;
  position: relative;
  margin-top: 45px;
}

#first-section .content .content__overview {
  padding-top: 20px;
  width: 555px;
  position: relative;
  z-index: 0;
}

#first-section .content .content__overview .content__overview-heading {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
}

#first-section .content .content__overview .content__overview-heading span {
  font-weight: 700;
}

#first-section .content .content__overview .content__overview-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
}

#first-section .content .content__overview .content__overview-text span {
  font-weight: 500;
}

#first-section .content .content__overview .content__overview-button {
  margin-top: 50px;
  width: 250px;
  height: 60px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  position: relative;
}

#first-section .content .content__overview .content__overview-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 56, 56, 0.35);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  top: 0;
  left: 0;
  -webkit-transform: translateY(25px) scale(0.8);
          transform: translateY(25px) scale(0.8);
  z-index: -1;
  cursor: default;
}

#first-section .content .content__img {
  position: absolute;
  top: 0px;
  right: -10px;
  width: 610px;
}

#first-section .info-list {
  width: 100%;
  margin-top: 120px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #ffffff;
}

#first-section .info-list::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 40%;
  top: 50%;
  left: 0;
  background-color: #0d1025;
  opacity: 0.2;
  -webkit-filter: blur(114px);
          filter: blur(114px);
  border-radius: 10px;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  z-index: -1;
}

#first-section .info-list .info-item {
  margin: 0 auto;
  width: 100%;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#first-section .info-list .info-item + .info-item {
  border-left: 2px solid #eeeff2;
}

#first-section .info-list .info-item .info-item__icon {
  width: 56px;
  height: 56px;
  color: #f53855;
  background-color: #ffecec;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-section .info-list .info-item .info-item__icon i {
  font-size: 24px;
  line-height: 56px;
  margin: 0 auto;
  color: #f53855;
}

#first-section .info-list .info-item .info-item__text {
  margin-left: 36px;
  font-size: 20px;
  line-height: 30px;
}

#first-section .info-list .info-item .info-item__text span {
  font-weight: 700;
}

#first-section .features {
  margin: 100px 0 120px 0;
  position: relative;
}

#first-section .features .features__img {
  width: 500px;
}

#first-section .features .features__info {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 430px;
}

#first-section .features .features__info .features__heading {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
}

#first-section .features .features__info .features__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
}

#first-section .features .features__info .features__list .features__item {
  margin-top: 20px;
  font-size: 14px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#first-section .features .features__info .features__list .features__item span {
  display: inline;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-color: #2fab73;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-section .features .features__info .features__list .features__item span i {
  line-height: 24px;
  margin: 0 auto;
  color: white;
  font-size: 14px;
}

#second-section {
  padding: 0 40px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fbfbfb;
}

#second-section .plans {
  padding: 60px 0;
}

#second-section .plans__heading {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  margin: 20px auto;
}

#second-section .plans__subheading {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin: 20px auto;
  max-width: 555px;
}

#second-section .plans__option {
  width: 100%;
  margin: 60px 0;
}

#second-section .plans__option .plans__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#second-section .plans__option .plans__list .plans__item {
  width: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#second-section .plans__option .plans__list .plans__item .plans__item-img {
  width: 145px;
  margin-top: 80px;
}

#second-section .plans__option .plans__list .plans__item .plans__item-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin: 30px 0;
}

#second-section .plans__option .plans__list .plans__item ul {
  text-align: left;
  width: 190px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#second-section .plans__option .plans__list .plans__item ul li {
  font-size: 14px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#second-section .plans__option .plans__list .plans__item ul li span {
  margin-right: 20px;
}

#second-section .plans__option .plans__list .plans__item ul li span i {
  color: #2fab73;
}

#second-section .plans__option .plans__list .plans__item .plans__item-price {
  font-size: 25px;
  line-height: 30px;
  margin-top: auto;
}

#second-section .plans__option .plans__list .plans__item .plans__item-price span {
  font-weight: 500;
}

#second-section .plans__option .plans__list .plans__item .plans__item-button {
  display: block;
  background-color: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #f53855;
  border: 2px solid #f53855;
  border-radius: 50px;
  width: 175px;
  height: 45px;
}

#second-section .plans__option .plans__list .plans__item:hover {
  border: 2px solid #f53855;
}

#second-section .plans__option .plans__list .plans__item:hover .plans__item-button:hover {
  background-color: #f53855;
  color: white;
}

#second-section .scale {
  width: 100%;
  text-align: center;
}

#second-section .scale__heading {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  max-width: 380px;
  margin: 20px auto;
}

#second-section .scale__subheading {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  max-width: 555px;
  margin: 20px auto;
}

#second-section .scale__subheading span {
  font-weight: 500;
}

#second-section .scale__img {
  width: 1060px;
  margin-top: 155px;
}

#second-section .scale .sponsored {
  width: 1100px;
  height: 210px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#second-section .scale .sponsored .sponsored__img {
  width: 200px;
}

#second-section .customer {
  padding-top: 20px;
  padding-bottom: 160px;
}

#second-section .customer__heading {
  margin: 20px auto;
  text-align: center;
  max-width: 450px;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
}

#second-section .customer__subheading {
  max-width: 555px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin: 20px auto;
}

#second-section .customer__slider {
  width: 100%;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#second-section .customer__slider .slider {
  width: 100%;
}

#second-section .customer__slider .slider .slick-list .slick-track {
  height: 250px;
}

#second-section .customer__slider .slider .slick-list .slick-track .slider__item {
  width: 400px;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin: 60px 25px;
  padding: 30px;
}

#second-section .customer__slider .slider .slick-list .slick-track .slider__item .slider__header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#second-section .customer__slider .slider .slick-list .slick-track .slider__item .slider__header .slider__header-img {
  width: 50px;
  height: 50px;
}

#second-section .customer__slider .slider .slick-list .slick-track .slider__item .slider__header .slider__header-info {
  margin-left: 20px;
}

#second-section .customer__slider .slider .slick-list .slick-track .slider__item .slider__header .slider__header-info .slider__header-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

#second-section .customer__slider .slider .slick-list .slick-track .slider__item .slider__header .slider__header-info .slider__header-location {
  font-size: 14px;
}

#second-section .customer__slider .slider .slick-list .slick-track .slider__item .slider__header .slider__header-rating {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#second-section .customer__slider .slider .slick-list .slick-track .slider__item .slider__header .slider__header-rating span {
  margin-left: 10px;
}

#second-section .customer__slider .slider .slick-list .slick-track .slider__item .slider__header .slider__header-rating span i {
  color: #fea250;
}

#second-section .customer__slider .slider .slick-list .slick-track .slider__item .slider__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

#second-section .customer__slider .slider .slick-list .slick-track .slick-current {
  border-color: #f53855;
}

#second-section .customer__slider .slider .slick-dots {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  bottom: -24px;
  left: 0;
}

#second-section .customer__slider .slider .slick-dots button::before {
  font-size: 15px;
}

#second-section .customer__slider .slider .slick-dots button:hover::before {
  color: #4f5665;
}

#second-section .customer__slider .slider .slick-dots .slick-active button::before {
  color: #f53855;
}

#second-section .customer__slider .slider-arrows {
  position: absolute;
  bottom: -40px;
  right: 0;
  cursor: pointer;
}

#second-section .customer__slider .slider-arrows span {
  display: inline-block;
  border: 2px solid #f53855;
  border-radius: 50px;
}

#second-section .customer__slider .slider-arrows span i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  color: #f53855;
}

#second-section .customer__slider .slider-arrows span:hover {
  background-color: #f53855;
}

#second-section .customer__slider .slider-arrows span:hover i {
  color: #ffffff;
}

.footer {
  padding-top: 180px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.footer .footer__overview {
  max-width: 340px;
  margin-right: auto;
}

.footer .footer__overview .footer__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__overview .footer__heading-logo {
  width: 35px;
}

.footer .footer__overview .footer__heading-text {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.footer .footer__overview .footer__heading-text--bold {
  font-weight: 700;
}

.footer .footer__overview .footer__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.footer .footer__overview .footer__text span {
  font-weight: 500;
  color: #4f5665;
}

.footer .footer__overview .footer__social-links {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__overview .footer__social-links a {
  text-decoration: none;
  width: 33px;
  height: 33px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 5px 20px #cfcfcf;
          box-shadow: 0 5px 20px #cfcfcf;
}

.footer .footer__overview .footer__social-links a .footer__social-icon {
  color: #f53855;
}

.footer .footer__overview .footer__copyright {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}

.footer .footer__overview .footer__copyright span {
  color: #afb5c0;
  font-weight: 500;
}

.footer .footer__list {
  min-width: 200px;
}

.footer .footer__list .footer__list-heading {
  margin-bottom: 20px;
  font-size: 18;
  font-weight: 500;
}

.footer .footer__list .footer__list-item {
  display: block;
  margin: 10px 0;
}

.footer .footer__list .footer__list-item a {
  text-decoration: none;
  color: #4f5665;
}

.footer .footer__subscribe {
  width: 90%;
  height: 233px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -110px);
          transform: translate(-50%, -110px);
  background-color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 70px;
}

.footer .footer__subscribe .footer__subscribe-text {
  max-width: 370px;
}

.footer .footer__subscribe .footer__subscribe-text .footer__subscribe-heading {
  font-size: 35px;
  font-weight: 500;
  line-height: 35px;
}

.footer .footer__subscribe .footer__subscribe-text .footer__subscribe-subheading {
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
}

.footer .footer__subscribe .footer__subscribe-btn {
  width: 250px;
  height: 60px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  position: relative;
}

.footer .footer__subscribe .footer__subscribe-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 56, 56, 0.35);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  top: 0;
  left: 0;
  -webkit-transform: translateY(25px) scale(0.8);
          transform: translateY(25px) scale(0.8);
  z-index: -1;
  cursor: default;
}
/*# sourceMappingURL=style.css.map */